:root {
    /* fonts */
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;

    /* text colors */
    --main-txt-cl: #212121;
    --secondary-txt-cl: #757575;
    --accent-txt-cl: #2196f3;
    --accent-btn-cl: #188ce8;
    --white-cl: #ffffff;
    --black-cl: #000000;

    /* bg colors */
    --dark-bg-cl: #2f303a;
    --light-bg-cl: #f5f4fa;

    /* icons color */
    --main-icons-color: #afb1b8;

    /* others */
    --indent: 30px;
    --items: 3;
    --anim-main: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}