.clients-list {
    --items: 6;
}

.clients-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--main-icons-color);
    border-radius: 4px;
    fill: var(--main-icons-color);

    transition: border-color var(--anim-main), fill var(--anim-main);

    &:hover,
    &:focus {
        border-color: var(--accent-txt-cl);
        fill: var(--accent-txt-cl);
    }
}