.contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding-top: 21px;
  padding-bottom: 20px;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--secondary-txt-cl);

  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.02em;

  transition: color var(--anim-main);

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }

  @media screen and (min-width: 1200px) {
    gap: 10px;
    padding-top: 32px;
    padding-bottom: 31px;
    font-size: 14px;
    line-height: calc(16 / 14);
  }
}

.contacts__logo {
  fill: currentColor;
}

.logo-mail {
  @media screen and (max-width: 1199px) {
    width: 14px;
    height: 10px;
  }
}

.logo-phone {
  @media screen and (max-width: 1199px) {
    width: 10px;
    height: 14px;
  }
}
