.features {
    @media screen and (min-width: 1200px) {
        padding-bottom: 0;
    }
}

.features-list{
    --items: 1;

    @media screen and (min-width: 768px) {
        --items: 2;    
    }

    @media screen and (min-width: 1200px) {
        --items: 4;    
    }
}

.features-list__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding: 25px;
    background: var(--light-bg-cl);
    border-radius: 4px;
}

.features-list__subtitle {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: 768px) {
        text-align: left;      
    }
}

.features-list__text {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--secondary-txt-cl);
}