.address__list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media screen and (min-width: 1200px) {
    gap: 9px;
  }
}

.address__text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--white-cl);
}

.address__link {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: color var(--anim-main);

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }
}
