.sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 12px;
  }
}

.sub__email {
  // width: 450px;
  padding: 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition: border-color var(--anim-main);
  color: var(--white-cl);

  &:hover,
  &:focus {
    border-color: var(--accent-txt-cl);
    outline: var(--accent-txt-cl);
  }

  &::placeholder {
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.sub-btn {
  padding: 10px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  letter-spacing: 0.06em;
  fill: var(--white-cl);

  @media screen and (min-width: 1200px) {
    gap: 10px;
  }
}
